// Custom styles.

body { 
    //background:rgba(255,255,255,0.9);
    background:url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;// 不随屏幕滚动而滚动
    background-position:50% 50%; 
    background-size:cover
    //opacity: 1;
}

.header-inner {
  background: white; 
  box-sizing: border-box;
  padding: $content-desktop-padding;
  width: $content-desktop;
}

.content-wrap {
  background: white; 
  box-sizing: border-box;
  padding: $content-desktop-padding;
  width: $content-desktop;
  box-shadow: $box-shadow-inner;
  border-radius: $border-radius-inner;
}

.sidebar {
  //margin-top: 300px;
  background: rgba(20,100,120,0.4);
  //box-shadow: none;
  //opacity: 1;
}




